<h2 class="mt-12 mb-4">色</h2>
  
<ul>
  <% @colors.each do |color| %>
    <li>
      <span class="inline-block w-4 h-4" style="background-color:<%= color.hex %>"></span>
      <%= link_to color.name, root_path(search: "color:#{color.name}") %>
    </li>
  <% end %>
</ul>
